:root {
  --primary-dark: #480CA8;
  --accent-one:#4CC9F0;
  --primary:#560BAD;
  --secondary:#B5179E;
  --tertiary:#7209B7;
  --accent-two:#F72585;
  --light-blue:rgba(142, 222, 246, 0.5);
}
*,
*::after,
*::before{
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html{
  font-size: 62.5%;
  
}
body{
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn{
  border-width: 0rem;
}